<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update friends</title>
    </head>
    <body>
        <form action='/update/<friends_id>' method='POST'>
          <label for="update_first">First Name:<input type="text" name="update_first" id="update_first"></label>
          <label for="update_last">Last Name:<input type="text" name="update_last" id="update_last"></label>
          <label for="update_occupation">Occupation:<input type="text" name="update_occupation" id="update_occupation"></label>
          <input type="submit" value="Update">
        </form>
    </body>
</html>
